
@media screen and (max-width: 360px) {
    
}


@media screen and (min-width: 361px) and (max-width: 480px) {
    
}


@media screen and (min-width: 481px) and (max-width: 768px) {
    
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
    
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
    
}

@media screen and (min-width: 1441px) {
   
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #d602f1e8;
}

header {
    background: #d602f1e8;
    text-align: center;
}

main {
    padding: 20px;
    background:  purple;
}

footer {
    background: #920573;
    color: #020101;
    padding: 10px;
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    background-color: #d602f1e8;
    margin: 10px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-img:hover {
    transform: scale(1.1);
}

.responsive-img:not(:hover) {
    filter: blur(1px);
}